@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 55px;
}

/* Link Decoration */
a {
    text-decoration: none;
    color: rgb(26, 25, 25);
}

/* nav bar Decoration */
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 247, 252);
    padding: 10px;
    box-shadow: -41px -60px 17px 56px rgb(49, 47, 47);
}

/* All UL list Decoration */
ul {
    list-style: none;
}

/* Ul Left Side Margin */
.left {
    margin-left: 60px;
    display: flex;
    justify-content: center;
}

/* UL image Decoration */
.logo img {
    width: 70px;
    height: 50px;
    cursor: pointer;
}

.text1 img {
    width: 200px;
    height: 25px;
    cursor: pointer;
    padding: 10px 0px 0px 10px;
    margin-top: 4px;
}


/* UL right side Decoration */
.right {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

/* UL right side li decoration */
.right li {
    margin: 5px 30px 0px 50px;
    color: rgb(39, 37, 37);
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* UL right side under Decoration start*/
.right li .home {
    width: 2px;
    height: 3px;
    background-color: #004aad;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 5ms linear;

}

.right li .category {
    width: 2px;
    height: 3px;
    background-color: #004aad;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 5ms linear;
}

.right li .about {
    width: 2px;
    height: 3px;
    background-color: #004aad;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 5ms linear;
}

.right li .contact {
    width: 2px;
    height: 3px;
    background-color: #004aad;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 5ms linear;
}

/* UL right side under Decoration end*/

/* Category Dropdown Menu for right li start */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(39, 37, 37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(243, 247, 252);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(26, 25, 25);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-content a:hover {
    background-color: rgb(225, 240, 241);
}

.show {
    display: block;
}

/* Category Dropdown Menu for right li start */

/* Link Hover */
.right a:hover {
    color: #00abff;
}

/* Dropdown Hover */
.right .dropbtn:hover {
    color: #00abff;
}

/* UL Line Hover */
.right li:hover .home {
    opacity: 1;
    width: 48px;
}

.right li:hover .category {
    opacity: 1;
    width: 88px;
}

.right li:hover .about {
    opacity: 1;
    width: 74px;
}

.right li:hover .contact {
    opacity: 1;
    width: 88px;
}

body{
    background-image: url('images/DigitalLibrary.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    background: #fff;
    max-width: 800px;
    width: 100%;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    animation: scale 2s forwards 0.5ms 1 alternate;
}

@keyframes scale {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
    
}

.wrapper h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-section{
    display: flex;
}

.about-section img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
}

.about-section p{
    margin: 10px;
}
.about-section button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #00abff;
    margin: 25px 20px 0 0;
    color: white;
    border-radius: 6px;
}
.about-section button:hover{
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}


/* Footer */
.footer {
    width: 100%;
    background-color: #131376;
    color: white;
    padding-top: 20px;
}

.footer .ft{
    display: flex;
    justify-content: space-around;
}

.footer .ab{
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(237, 237, 237);
    font-size: 15px;
}

.footer .ab a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(154, 149, 149);
    font-size: 20px;
}

.footer .con{
    width: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(237, 237, 237);
    font-size: 15px;
}

.footer .con a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(154, 149, 149);
    font-size: 20px;
}

.footer .con .mail{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(240, 240, 240);
    font-size: 15px;
}

.footer .con .mail:hover{
    color: #FC0;
}

.footer p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
    padding-top: 10px;
}

.footer .img{
    display: flex;
    justify-content: space-between;
    width: 50px;
    padding: 20px;
}

.footer .img img{
    width: 30px;
    padding: 5px 10px;
    cursor: pointer;
}
